{% extends "student/base.html" %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <div class="media-body">
        <img class="rounded-circle article-img" src="{{ object.user.image.url }}">
        <h1>{{ object.user.first_name}}  {{ object.user.last_name }}</h1>
        <p>Admission Number: {{ object.adm_no }}</p>
        <p>Roll Number: {{ object.rollno }}</p>
        <p>Class: {{ object.class_studying.name }}</p>
        <p>Father Name: {{ object.father_name }}</p>
        <p>Mother Name: {{ object.mother_name }}</p>
        <p>Parent Phone Number: {{ object.parent_phn }}</p>
        <p>Date of Birth: {{ object.dob }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
